<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax | Your one stop Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Pet Fax</h1>
    {% for pet in pets %}
        <h2>{{ pet.pet_name }}</h2>
        <img src= "{{ pet.pet_photo }}" alt="Photo of our happy pet {{pet.pet_name}}" />
        <p>{{ pet.pet_fact }}</p>

        {% endfor %}
</body>
</html>